{% extends "layout.html.twig" %}
{% set active_page = "admin" %}

{% block title %}Administration{% endblock %}	

{% block content %}

<h1>Welcome in Silex_in_the_Cavern ! Admin part !</h1>
<p>Brought to you by admin !</p>

{% endblock %}